@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello Don. Welcome to the Wonderful World of Blazor!</h1>

<p>We are working on @DateTime.Today.ToShortDateString() at @DateTime.Now.ToShortTimeString() .</p>

<p>
    <figure>
        <figcaption>This is using an image from the wwwroot/img folder (where all static webpage files go).</figcaption>
        <img src="./img/WestWind.png" alt="WestWind company image." />
    </figure>
</p>
