@page "/basicevents"

<!-- this first PHYSICAL line on a page is the routing directive
     it contains the internal page name for use by the menu
     it is not case-sensitive, BUT spelling is important
-->
<!-- the PageTitle is where you will place the browser tab page title
    every page during this course MUST have a PageTitle as part of the class standards
-->
<PageTitle>Basic Button and Events</PageTitle>

<h1>Basic Button Events</h1>
<h4 style="color:blue; font-style:italic;"Learning about buttons and events></h4>

<blockquote style="background-color:aquamarine; margin-left:50px; margin-right:50px;">
    This page will demonstrate the basics of button events. It will
    use a &lt;input&gt; control to ask for some user input. It will
    use a &lt;button&gt; control to process the input. It will
    demonstrate basic use of C# code to do the processing.
</blockquote>



@code {

}
