@page "/privacy"

<!-- this first PHYSICAL line on a page is the routing directive
     it contains the internal page name for use by the menu
     it is not case-sensitive, BUT spelling is important
-->

<!-- the PageTitle is where you will place the browser tab page title
    every page during this course MUST have a PageTitle as part of the class standards
    on a html page, this is the same as the title tag in your head area
-->
<PageTitle>Privacy</PageTitle>

<h1>Privacy</h1>

<h4>
    Credits and attributions
</h4>
<p>The images for WestWind were a modifications of an image supplied by:
    <a href="https://www.vecteezy.com/vector-art/491781-old-tall-sailing-ship-vector-illustration" target="_blank">Vectors by Vecteezy</a>
    &nbsp;&nbsp; No copyright infringement is intended.
</p>

<br/><br/>
 This is a way you can give credit to sources outside of your original work that you are
    using for educational purposes. This does not cause copyright infringement if the source
    allows for use of its material for <strong>non-monetary gains</strong>.

<p>Note on Copyright Protection</p>
<img src="./img/Copyright-Protected-work.png" alt="copyright" />

<h4>
    <a href="https://support.google.com/legal/answer/4558992?h1=en&ref_topic=4558877" target="_blank">What is fair use?</a>
</h4>

@code {

}
